[submodule "config/nvim"]
	path = config/nvim
	url = git@github.com:SanteriHetekivi/nvim.git
[submodule "config/hypr"]
	path = config/hypr
	url = git@github.com:SanteriHetekivi/hypr.git
[submodule "config/waybar"]
	path = config/waybar
	url = git@github.com:SanteriHetekivi/waybar.git
[submodule "config/openbox"]
	path = config/openbox
	url = git@github.com:SanteriHetekivi/openbox.git
[submodule "config/tint2"]
	path = config/tint2
	url = git@github.com:SanteriHetekivi/tint2.git
[submodule "config/zsh"]
	path = config/zsh
	url = git@github.com:SanteriHetekivi/zsh.git
